<!-- The codes below are from the example from https://github.com/heroku/node-js-getting-started-->
<!-- we can need this db.js file or use some other ways to write database-related codes-->

<!--<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>

</div>

</body>
</html>-->