<!doctype html>
<html>
	<head>
	 <%- include ("../partials/splash.ejs") %>
	</head>
	<body onload="waitTime()">
		<div id="mainCointainer">
			<img id="logo" src="src/img/logo.jpg">
		</div>
	</body>
</html>
