/* 
   Name: Callum Bruton (CB)
   Description: This is the basic css file for the index.html.
   Date: 02-17-2022
*/
body
{
    background-color: black;
    text-align: center;
}

#logo 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#loadingGif {
    width: 100px;
    height: 100px;
}