<!DOCTYPE html>
<html>
<head>
  
</head>

<body>

<div class="container">
    <div class="header">
        <h1 class="primary-message">Database Results</h1>
  </div>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.codename %></li>
    <% }); %>
</ul>

</div>

</body>
</html>