<!doctype html>
<html>   
  <head>
    <title>Laser Tag Client</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/playerEntry.css" />
    <!-- <script type = "module"> import {hi} from "/stylesheets/playerEntry.js";</script> -->
  </head>
    <body>
	    <div id="mainContainer">
            <div id="redTeamContainer" class="teamContainer">
                <p> Red Team </p>
                <form method="POST" id="redTeamForm">
                    Player 1)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber1" class="redTextInput"> Name:<input type="text" id="redCodeName1" class="redTextInput"> <br>
                    Player 2)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber2" class="redTextInput"> Name:<input type="text" id="redCodeName2" class="redTextInput"> <br>
                    Player 3)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber3" class="redTextInput"> Name:<input type="text" id="redCodeName3" class="redTextInput"> <br>
                    Player 4)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber4" class="redTextInput"> Name:<input type="text" id="redCodeName4" class="redTextInput"> <br>
                    Player 5)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber5" class="redTextInput"> Name:<input type="text" id="redCodeName5" class="redTextInput"> <br>
                    Player 6)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber6" class="redTextInput"> Name:<input type="text" id="redCodeName6" class="redTextInput"> <br>
                    Player 7)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber7" class="redTextInput"> Name:<input type="text" id="redCodeName7" class="redTextInput"> <br>
                    Player 8)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber8" class="redTextInput"> Name:<input type="text" id="redCodeName8" class="redTextInput"> <br>
                    Player 9)  &nbsp &nbsp ID:<input type="number" min="0" id="redIdNumber9" class="redTextInput"> Name:<input type="text" id="redCodeName9" class="redTextInput"> <br>
                    Player 10) &nbsp       ID:<input type="number" min="0" id="redIdNumber10" class="redTextInput"> Name:<input type="text" id="redCodeName10" class="redTextInput"> <br>
					Player 11) &nbsp       ID:<input type="number" min="0" id="redIdNumber11" class="redTextInput"> Name:<input type="text" id="redCodeName11" class="redTextInput"> <br>
                    Player 12) &nbsp       ID:<input type="number" min="0" id="redIdNumber12" class="redTextInput"> Name:<input type="text" id="redCodeName12" class="redTextInput"> <br>
                    Player 13) &nbsp       ID:<input type="number" min="0" id="redIdNumber13" class="redTextInput"> Name:<input type="text" id="redCodeName13" class="redTextInput"> <br>
                    Player 14) &nbsp       ID:<input type="number" min="0" id="redIdNumber14" class="redTextInput"> Name:<input type="text" id="redCodeName14" class="redTextInput"> <br>
                    Player 15) &nbsp       ID:<input type="number" min="0" id="redIdNumber15" class="redTextInput"> Name:<input type="text" id="redCodeName15" class="redTextInput"> <br>
                    <br>
                </form>
            </div>
			<div id="greenTeamContainer" class="teamContainer">
                <p> Green Team </p>
                <form id="greenTeamForm">
                    Player 1)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber1" class="greenTextInput"> Name:<input type="text" id="greenCodeName1" class="greenTextInput"> <br>
                    Player 2)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber2" class="greenTextInput"> Name:<input type="text" id="greenCodeName2" class="greenTextInput"> <br>
                    Player 3)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber3" class="greenTextInput"> Name:<input type="text" id="greenCodeName3" class="greenTextInput"> <br>
                    Player 4)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber4" class="greenTextInput"> Name:<input type="text" id="greenCodeName4" class="greenTextInput"> <br>
                    Player 5)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber5" class="greenTextInput"> Name:<input type="text" id="greenCodeName5" class="greenTextInput"> <br>
                    Player 6)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber6" class="greenTextInput"> Name:<input type="text" id="greenCodeName6" class="greenTextInput"> <br>
                    Player 7)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber7" class="greenTextInput"> Name:<input type="text" id="greenCodeName7" class="greenTextInput"> <br>
                    Player 8)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber8" class="greenTextInput"> Name:<input type="text" id="greenCodeName8" class="greenTextInput"> <br>
                    Player 9)  &nbsp &nbsp ID:<input type="number" min="0" id="greenIdNumber9" class="greenTextInput"> Name:<input type="text" id="greenCodeName9" class="greenTextInput"> <br>
                    Player 10) &nbsp       ID:<input type="number" min="0" id="greenIdNumber10" class="greenTextInput"> Name:<input type="text" id="greenCodeName10" class="greenTextInput"> <br>
					Player 11) &nbsp       ID:<input type="number" min="0" id="greenIdNumber11" class="greenTextInput"> Name:<input type="text" id="greenCodeName11" class="greenTextInput"> <br>
                    Player 12) &nbsp       ID:<input type="number" min="0" id="greenIdNumber12" class="greenTextInput"> Name:<input type="text" id="greenCodeName12" class="greenTextInput"> <br>
                    Player 13) &nbsp       ID:<input type="number" min="0" id="greenIdNumber13" class="greenTextInput"> Name:<input type="text" id="greenCodeName13" class="greenTextInput"> <br>
                    Player 14) &nbsp       ID:<input type="number" min="0" id="greenIdNumber14" class="greenTextInput"> Name:<input type="text" id="greenCodeName14" class="greenTextInput"> <br>
                    Player 15) &nbsp       ID:<input type="number" min="0" id="greenIdNumber15" class="greenTextInput"> Name:<input type="text" id="greenCodeName15" class="greenTextInput"> <br>
                    <br>
                </form>
            </div>
            <input type="button" onclick="hi()" value="Submit" id="submitButton">
	            </div>
            <script type="module" src="../../start.js"> </script>
	    </body>
        
</html>
