<!doctype html>
<html>
	<head>
	<title>Laser Tag Client</title>
	<link rel="stylesheet" href="/stylesheets/playerAction.css">
	</head>
		<body>
			<div id="mainContainer">
				
			</div>
		</body>
</html>