<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Laser Tag Client</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/playerAction.css" />
		<script type="text/javascript" src="/stylesheets/playerAction.js"></script>
    </head>
    <body>
        <div id="mainContainer">
            <div id="teams">
                <div id="redTeam" class="teamContainer">
                    <table class="teamTable">
                        <tr>
                            <th>Red Team</th>
                            <th class="score">Score</th>
                        </tr>
                        <tr>
                            <td id="redPlayer1" class="player redDarkRow">placeholder name</td>
                            <td id="redPlayer1Score" class="score redDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer2" class="player">placeholder name</td>
                            <td id="redPlayer2Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer3" class="player redDarkRow">placeholder name</td>
                            <td id="redPlayer3Score" class="score redDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer4" class="player">placeholder name</td>
                            <td id="redPlayer4Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer5" class="player redDarkRow">placeholder name</td>
                            <td id="redPlayer5Score" class="score redDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer6" class="player">placeholder name</td>
                            <td id="redPlayer6Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer7" class="player redDarkRow">placeholder name</td>
                            <td id="redPlayer7Score" class="score redDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer8" class="player">placeholder name</td>
                            <td id="redPlayer8Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer9" class="player redDarkRow">placeholder name</td>
                            <td id="redPlayer9Score" class="score redDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer10" class="player">placeholder name</td>
                            <td id="redPlayer10Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer11" class="player redDarkRow">placeholder name</td>
                            <td id="redPlayer11Score" class="score redDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer12" class="player">placeholder name</td>
                            <td id="redPlayer12Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer13" class="player redDarkRow">placeholder name</td>
                            <td id="redPlayer13Score" class="score redDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer14" class="player">placeholder name</td>
                            <td id="redPlayer14Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="redPlayer15" class="player redDarkRow">placeholder name</td>
                            <td id="redPlayer15Score" class="score redDarkRow">placeholder score</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="scoreTotalContainer">
                        <p id="redScoreTotal" class="scoreTotal">placeholder total</p>
                    </div>
                </div>
                <div id="greenTeam" class="teamContainer">
                    <table class="teamTable">
                        <tr>
                            <th>Green Team</th>
                            <th class="score">Score</th>
                        </tr>
                        <tr>
                            <td id="greenPlayer1" class="player greenDarkRow">placeholder name</td>
                            <td id="greenPlayer1Score" class="score greenDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer2" class="player">placeholder name</td>
                            <td id="greenPlayer2Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer3" class="player greenDarkRow">placeholder name</td>
                            <td id="greenPlayer3Score" class="score greenDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer4" class="player">placeholder name</td>
                            <td id="greenPlayer4Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer5" class="player greenDarkRow">placeholder name</td>
                            <td id="greenPlayer5Score" class="score greenDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer6" class="player">placeholder name</td>
                            <td id="greenPlayer6Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer7" class="player greenDarkRow">placeholder name</td>
                            <td id="greenPlayer7Score" class="score greenDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer8" class="player">placeholder name</td>
                            <td id="greenPlayer8Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer9" class="player greenDarkRow">placeholder name</td>
                            <td id="greenPlayer9Score" class="score greenDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer10" class="player">placeholder name</td>
                            <td id="greenPlayer10Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer11" class="player greenDarkRow">placeholder name</td>
                            <td id="greenPlayer11Score" class="score greenDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer12" class="player">placeholder name</td>
                            <td id="greenPlayer12Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer13" class="player greenDarkRow">placeholder name</td>
                            <td id="greenPlayer13Score" class="score greenDarkRow">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer14" class="player">placeholder name</td>
                            <td id="greenPlayer14Score" class="score">placeholder score</td>
                        </tr>
                        <tr>
                            <td id="greenPlayer15" class="player greenDarkRow">placeholder name</td>
                            <td id="greenPlayer15Score" class="score greenDarkRow">placeholder score</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="scoreTotalContainer">
                        <p id="redScoreTotal" class="scoreTotal">placeholder total</p>
                    </div>
                </div>
            </div>
            <div id="actions">
                <div id="redActions" class="teamActions">
                    <ul id="redActionList">
                        <li>placeholder name shot placeholder name</li>
                        <li>placeholder name shot placeholder name</li>
                        <li>placeholder name shot placeholder name</li>
                    </ul>
                </div>
                <div id="greenActions" class="teamActions">
                    <ul id="greenActionList">
                        <li>placeholder name shot placeholder name</li>
                        <li>placeholder name shot placeholder name</li>
                        <li>placeholder name shot placeholder name</li>
                        <li>placeholder name shot placeholder name</li>
                        <li>placeholder name shot placeholder name</li>
                    </ul>
                </div>
            </div>
            <div id="timerContainer">
                <p id="timer"></p>
				<script> timerStart(); </script>
            </div>
        </div>
    </body>
</html>