
<!doctype html>
<html>
  <head>
    <title>Laser Tag Client</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/playerEntry.css" />
    <script type="text/javascript" src="/stylesheets/playerEntry.js"></script>
  </head>
  <body>
	<div id="mainContainer">
        <form action="/playerEntry/submit" method="post">
            <div id="redTeamContainer" class="teamContainer">
                <p> Red Team </p>
                    Player 1)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber1" id="redIdNumber1" class="redTextInput"> Name:<input type="text" name = "redCodeName1" id="redCodeName1" class="redTextInput"> <br>
                    Player 2)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber2" id="redIdNumber2" class="redTextInput"> Name:<input type="text" name = "redCodeName2" id="redCodeName2" class="redTextInput"> <br>
                    Player 3)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber3" id="redIdNumber3" class="redTextInput"> Name:<input type="text" name = "redCodeName3" id="redCodeName3" class="redTextInput"> <br>
                    Player 4)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber4" id="redIdNumber4" class="redTextInput"> Name:<input type="text" name = "redCodeName4" id="redCodeName4" class="redTextInput"> <br>
                    Player 5)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber5" id="redIdNumber5" class="redTextInput"> Name:<input type="text" name = "redCodeName5" id="redCodeName5" class="redTextInput"> <br>
                    Player 6)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber6" id="redIdNumber6" class="redTextInput"> Name:<input type="text" name = "redCodeName6" id="redCodeName6" class="redTextInput"> <br>
                    Player 7)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber7" id="redIdNumber7" class="redTextInput"> Name:<input type="text" name = "redCodeName7" id="redCodeName7" class="redTextInput"> <br>
                    Player 8)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber8" id="redIdNumber8" class="redTextInput"> Name:<input type="text" name = "redCodeName8" id="redCodeName8" class="redTextInput"> <br>
                    Player 9)  &nbsp &nbsp ID:<input type="number" min="0" name = "redIdNumber9" id="redIdNumber9" class="redTextInput"> Name:<input type="text" name = "redCodeName9" id="redCodeName9" class="redTextInput"> <br>
                    Player 10) &nbsp       ID:<input type="number" min="0" name = "redIdNumber10" id="redIdNumber10" class="redTextInput"> Name:<input type="text" name = "redCodeName10" id="redCodeName10" class="redTextInput"> <br>
					Player 11) &nbsp       ID:<input type="number" min="0" name = "redIdNumber11" id="redIdNumber11" class="redTextInput"> Name:<input type="text" name = "redCodeName11" id="redCodeName11" class="redTextInput"> <br>
                    Player 12) &nbsp       ID:<input type="number" min="0" name = "redIdNumber12" id="redIdNumber12" class="redTextInput"> Name:<input type="text" name = "redCodeName12" id="redCodeName12" class="redTextInput"> <br>
                    Player 13) &nbsp       ID:<input type="number" min="0" name = "redIdNumber13" id="redIdNumber13" class="redTextInput"> Name:<input type="text" name = "redCodeName13" id="redCodeName13" class="redTextInput"> <br>
                    Player 14) &nbsp       ID:<input type="number" min="0" name = "redIdNumber14" id="redIdNumber14" class="redTextInput"> Name:<input type="text" name = "redCodeName14" id="redCodeName14" class="redTextInput"> <br>
                    Player 15) &nbsp       ID:<input type="number" min="0" name = "redIdNumber15" id="redIdNumber15" class="redTextInput"> Name:<input type="text" name = "redCodeName15" id="redCodeName15" class="redTextInput"> <br>
                    <br>
            </div>
			<div id="greenTeamContainer" class="teamContainer">
                <p> Green Team </p>
                    Player 1)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber1" id="greenIdNumber1" class="greenTextInput"> Name:<input type="text" name = "greenCodeName1" id="greenCodeName1" class="greenTextInput"> <br>
                    Player 2)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber2" id="greenIdNumber2" class="greenTextInput"> Name:<input type="text" name = "greenCodeName2" id="greenCodeName2" class="greenTextInput"> <br>
                    Player 3)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber3" id="greenIdNumber3" class="greenTextInput"> Name:<input type="text" name = "greenCodeName3" id="greenCodeName3" class="greenTextInput"> <br>
                    Player 4)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber4" id="greenIdNumber4" class="greenTextInput"> Name:<input type="text" name = "greenCodeName4" id="greenCodeName4" class="greenTextInput"> <br>
                    Player 5)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber5" id="greenIdNumber5" class="greenTextInput"> Name:<input type="text" name = "greenCodeName5" id="greenCodeName5" class="greenTextInput"> <br>
                    Player 6)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber6" id="greenIdNumber6" class="greenTextInput"> Name:<input type="text" name = "greenCodeName6" id="greenCodeName6" class="greenTextInput"> <br>
                    Player 7)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber7" id="greenIdNumber7" class="greenTextInput"> Name:<input type="text" name = "greenCodeName7" id="greenCodeName7" class="greenTextInput"> <br>
                    Player 8)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber8" id="greenIdNumber8" class="greenTextInput"> Name:<input type="text" name = "greenCodeName8" id="greenCodeName8" class="greenTextInput"> <br>
                    Player 9)  &nbsp &nbsp ID:<input type="number" min="0" name = "greenIdNumber9" id="greenIdNumber9" class="greenTextInput"> Name:<input type="text" name = "greenCodeName9" id="greenCodeName9" class="greenTextInput"> <br>
                    Player 10) &nbsp       ID:<input type="number" min="0" name = "greenIdNumber10" id="greenIdNumber10" class="greenTextInput"> Name:<input type="text" name = "greenCodeName10" id="greenCodeName10" class="greenTextInput"> <br>
					Player 11) &nbsp       ID:<input type="number" min="0" name = "greenIdNumber11" id="greenIdNumber11" class="greenTextInput"> Name:<input type="text" name = "greenCodeName11" id="greenCodeName11" class="greenTextInput"> <br>
                    Player 12) &nbsp       ID:<input type="number" min="0" name = "greenIdNumber12" id="greenIdNumber12" class="greenTextInput"> Name:<input type="text" name = "greenCodeName12" id="greenCodeName12" class="greenTextInput"> <br>
                    Player 13) &nbsp       ID:<input type="number" min="0" name = "greenIdNumber13" id="greenIdNumber13" class="greenTextInput"> Name:<input type="text" name = "greenCodeName13" id="greenCodeName13" class="greenTextInput"> <br>
                    Player 14) &nbsp       ID:<input type="number" min="0" name = "greenIdNumber14" id="greenIdNumber14" class="greenTextInput"> Name:<input type="text" name = "greenCodeName14" id="greenCodeName14" class="greenTextInput"> <br>
                    Player 15) &nbsp       ID:<input type="number" min="0" name = "greenIdNumber15" id="greenIdNumber15" class="greenTextInput"> Name:<input type="text" name = "greenCodeName15" id="greenCodeName15" class="greenTextInput"> <br>
                    <br>
            </div>
            <button id="submit" name="submit"  class="btn btn-primary">Submit</button>
            <!-- <input type="button" onclick="onSubmit()" value="Submit" id="submitButton"> -->
		</div>
        </form>
	</body>
</html>
