<!doctype html>
<html>
	<head>
	<title>Laser Tag Client</title>
	<script src="/stylesheets/splash.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/stylesheets/splash.css">
	</head>
	<body onload="waitTime()">
		<div id="mainCointainer">
			<img id="logo" src="src/img/logo.jpg">
		</div>
	</body>
</html>
