<!doctype html>
<html>
	<head>
	<title>Laser Tag Client</title>
	<link rel="stylesheet" href="/stylesheets/splash.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/stylesheets/splash.js"></script>
	</head>
	<body>
		<div id="mainContainer">
			<img id="logo" src="/logo.jpg">
			<img id="loadingGif" src="/loading.gif">
		</div>
	</body>
</html>
