<!doctype html>
<html>
	<head>
	<title>Laser Tag Client</title>
	<link rel="stylesheet" href="/stylesheets/splash.css">
	<meta http-equiv = "refresh" content = "3; url = https://team-11-app.herokuapp.com/playerEntry" />
	</head>
	<body>
		<div id="mainContainer">
			<img id="logo" src="/logo.jpg">
			<img id="loadingGif" src="/loading.gif">
		</div>
	</body>
</html>

